<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homechart.app">

    <!-- JPush -->
    <permission
        android:name="com.homechart.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <!--前置摄像头-->
    <uses-feature android:name="android.hardware.Camera.front" />
    <!--闪光灯-->
    <uses-feature android:name="android.hardware.Camera.flash" />
    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.homechart.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- JPush -->

    <!--android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 级验验证 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- 友盟第三方 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 友盟统计 -->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <!-- ga -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".home.activity.AdvertisementActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
        <!--android:name=".home.activity.AdvertisementActivity"-->
        <!--android:theme="@style/AppTheme1"-->
        <!--android:alwaysRetainTaskState="true"-->
        <!--android:configChanges="keyboardHidden|orientation|locale|layoutDirection"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".home.activity.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.activity.RegisterActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".home.activity.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="photo"

                    android:scheme="cn.com.idcool" />
                <data
                    android:host="activity"
                    android:scheme="cn.com.idcool" />
                <data
                    android:host="article"
                    android:scheme="cn.com.idcool" />
            </intent-filter>

        </activity>


        <activity
            android:name=".home.activity.UserMastActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visearch.NewSearchResultActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.NewUserNameActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.ResetPasswordActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.FenSiListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.GuanZuListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.ShouCangListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.ShaiJiaListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.MessagesListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.MyInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.SetActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timepiker.citylist.CityListSelectActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.BundleMobileActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.DesinerInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.IssueBackActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.UserInfoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.GuanYuActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.DesinerInfoHeaderActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.SearchActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.SearchResultActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ShaiXuanResultActicity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.FaBuActvity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.FaBuTagsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageDetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageEditActvity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.EditTagsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageDetailLongActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".visearch.EditPhotoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.PingListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.HuoDongDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ArticleDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".imagedetail.ImageDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.NewShopDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.HuoDongListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ImageDetailScrollActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ColorShaiXuanActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".visearch.PhotoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ShopDetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.ShiBieActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".visearch.SearchLoadingActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".visearch.DetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.TestActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".lingganji.ui.activity.InspirationSeriesActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".lingganji.ui.activity.InspirationCreateActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".lingganji.ui.activity.MyLingGanlistActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".lingganji.ui.activity.InspirationDetailEditActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".home.activity.YuGouQingDanActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".lingganji.ui.activity.EditInsprationImageListActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".lingganji.ui.activity.InspirationDetailActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <service android:name=".upapk.DownloadService">
            <intent-filter>
                <action android:name="com.test.intentservice" />
            </intent-filter>
        </service>
        <!-- 友盟 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101164104" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5625abfce0f55a5c17008ac9"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- Register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices. -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- ................JPUSH.................... -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.homechart.app" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.homechart.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.homechart.app" />
            </intent-filter>
        </activity>

        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.homechart.app" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <receiver
            android:name=".jpush.JPushMessageReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.homechart.app" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="a1b172a3a99452e0a4953f6b" />

    </application>

</manifest>